.description {
  margin-bottom: 6.25rem;
  margin-top: 6.25rem;
}

.two_columns {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 80%;
}

.brief {
  width: 10.94rem;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.main_text {
  width: 80%;
  min-width: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.paragraph {
  margin-bottom: 1.875rem;
  margin-top: 0;
}

.paragraph:last-child {
  margin-bottom: 0;
}

.span__accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 544px) {
  .two_columns {
    flex-direction: column;
  }

  .brief {
    margin-bottom: 1.25rem;
  }
}
