.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.digits__title {
  display: flex;
  justify-self: center;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.digits__subtitle {
  display: flex;
  justify-self: center;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  padding: 20px;
}

.cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-self: center;
}

.cell__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cell__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.cell__text--accent {
  margin-top: 20px;
  display: flex;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 544px) {
}
