.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f2f2f2;
  overflow: hidden;
  align-items: center;
}

.header__grid_area-1 {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  padding-left: 3.125rem;
}

.logo {
  width: 100%;
  height: 34px;
  display: flex;
  gap: 10px;
}

.black__ball {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.letter__Y {
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2px;
}

.logo__title {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.header__title {
  display: flex;
  align-self: center;
  width: 730px;
  margin-right: auto;
  z-index: 10;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 400px;
  text-decoration: none;
  z-index: 10;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__images-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.header__image {
  z-index: 1;
  grid-column: 2;
  grid-row: 1 / 2;
  height: 608px;
  width: 100%;
  object-fit: cover;
}

.header__square {
  grid-column: 2;
  grid-row: 1 / 2;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  transform: rotate(-38deg);
}

.rotation {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-38deg);
  }
  to {
    transform: rotate(327deg);
  }
}

@media screen and (max-width: 1265px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    justify-content: center;
  }
}

@media screen and (max-width: 544px) {
}
