.techniques {
  padding: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techniques__title {
  display: flex;
  justify-content: center;
  max-width: 40rem;
  margin-top: 6.25rem;
  margin-bottom: 1.25rem;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.techniques__subtitle {
  display: flex;
  max-width: 40rem;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem 6.25rem;
  width: 57.5rem;
  padding-top: 3rem;
}

.card__item {
  width: 100%;
  box-shadow: 10px 15px 20px;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.card__item:hover {
  transform: scale(1.05);
}

.card__image {
  width: 10rem;
  height: 10rem;
  margin: 3.75rem 2.5rem 2.6875rem;
  border-radius: 50%;
}

.card__title {
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.card__description {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  padding: 0.312rem 0.625rem;
}

@media screen and (max-width: 1024px) {
  .techniques__title {
    font-size: 50px;
    text-align: center;
  }

  .techniques__subtitle {
    font-size: 20px;
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.75rem;
    width: 15rem;
    padding-top: 3rem;
  }
}
