.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__title {
  display: flex;
  justify-content: center;
  width: 40rem;
  padding: 6.25rem 0px 1.25rem;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.video__subtitle {
  width: 40rem;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.video__iframes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  width: 100%;
  padding: 1.25rem;
}

.video__iframe {
  width: 100%;
  height: 19.75rem;
}

@media screen and (max-width: 1024px) {
  .video__title {
    font-size: 50px;
    text-align: center;
  }

  .video__subtitle {
    font-size: 20px;
    text-align: center;
  }

  .video__iframes {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    width: 50%;
  }

  .video__iframe {
    width: 100%;
    height: 250px;
  }
}

@media screen and (max-width: 544px) {
  .video__iframes {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    width: 100%;
  }

  .video__iframe {
    width: 100%;
  }
}
