.kaufman {
  background-color: #000;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.table__theme_dark {
  display: flex;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 90px;
  margin-top: 80px;
  row-gap: 80px;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.kaufman__title_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 90px;
  z-index: 10;
  width: 60%;
  display: flex;
  align-self: center;
  text-align: center;
}

.kaufman__subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  z-index: 10;
  display: flex;
  align-self: center;
}

.cell__theme_dark {
  width: 200px;
  color: white;
  margin-right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.cell__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  z-index: 10;
  display: flex;
  margin-bottom: 20px;
}

.cell__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 10;
  display: flex;
}

.kaufman__triangle {
  display: flex;
  position: absolute;
  top: 105px;
  right: -163px;
  max-width: 960px;
  max-height: 960px;
  transform: rotate(30deg);
}

.rotation {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(390deg);
  }
}
