.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
  margin-top: -70px;
}

.two_columns {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 80%;
}

.brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.main_text {
  width: 80%;
  min-width: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
