.section__title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section__subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
}

.resources__logo-zone {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 217px;
  display: flex;
  flex-direction: row;
  width: 1100px;
}
.resources__logo {
  width: 270px;
  height: 38px;
}
