.techniques {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section__subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 100px;
  width: 920px;
}

.card__item {
  width: 240px;
}

.card__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}

.card__title {
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.card__description {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
